{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div {{ vue_component('About', { name:"John" }) }}></div>
<div {{ stimulus_controller('hello') }}>
{% endblock %}
